@page
@model AmazingCalcRazorPage.Pages.IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<h1 class="text-center">Welcome to Amazing Fitness Calculator</h1>

<div class="text-center mt-4">
    <a asp-page="/Login" class="btn btn-success m-2">Login</a>
    <a asp-page="/Register" class="btn btn-primary m-2">Register</a>
</div>
