@page
@model AmazingCalcRazorPage.Pages.IndexModel
@{
    ViewData["Title"] = "Welcome to the DANGER ZONE!!!!";
}z

<h1 class="text-center">Welcome to the DANGER ZONE!!!!</h1>

<div class="text-center mt-4">
    <a asp-page="/Login" class="btn btn-success m-2">Login</a>
    <a asp-page="/Register" class="btn btn-primary m-2">Register</a>
</div>
